# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.obj
x64/Release/viconOSC.ipdb
x64/Release/viconOSC.log
*.iobj
x64/Release/viconOSC.pch
*.dll
x64/Release/vc140.pdb
*.exe
x64/Debug/viconOSC.tlog/link.write.1.tlog
*.lastbuildstate
x64/Debug/viconOSC.tlog/CL.write.1.tlog
*.tlog
viconOSC.VC.db
*.filters
*.pdb
ipch/VICONOSC-453e020e/VICONOSC-d8eb4eea.ipch
*.ipdb
Release/viconOSC.pch
*.log
viconOSC.vcxproj.user
*.ilk
Debug/vc140.idb
*.ipch
Debug/viconOSC.pch
*.idb
x64/Debug/viconOSC.pch
*.suo
*.opendb
_nime/sonif-nime.blg
*.gz
_nime/sonif-nime.blg
*.gz
*.blg
_nime/sonif-nime.synctex.gz
*.aux
_nime/sonif-nime.bbl
*.blg
_nime/sonif-nime.synctex.gz
*.gz
_nime/sonif-nime.aux
*.gz
*.gz
*.gz

*.gz
*.aux
_nime/sonif-nime.bbl
*.blg
*.gz
*.gz
*.gz
_nime/sonif-nime.synctex.gz

_am/am-paper.pdf
*.maxhelp
*.html
*.help
*.png
*.js
*.css
*.jpg
max-sdk-8.0.3/html/figures/simul.maxpat
max-sdk-8.0.3/html/header.pxm
max-sdk-8.0.3/LICENSE.md
max-sdk-8.0.3/MaxAPI.pdf
max-sdk-8.0.3/package-info.json
max-sdk-8.0.3/README.md
